@{
    Layout = "~/Views/Shared/_Home.cshtml";
}
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
<header class="masthead">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h1 class="brand-heading">PAYmate</h1>
                    <p class="intro-text">
                        Pay your Bills and Transact with a Click
                        <br>To do real time transactions<font style="color:lime"> ‘on the go’</font>.
                    </p>
                    <a href="#about" class="btn btn-circle js-scroll-trigger">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
@Html.Partial("_Loader","page-spinner")
<!-- About Section -->
<section id="about" class="content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>About PAYmate</h2>
                <p>
                    Paying bills and transferring cash have been a common task for the common man in the modern world.
                    Which is for some, not an easy task with the busy schedule they bare. PAYmate is an Application
                    which is mainly designed to meet Every day needs of a user which includes many of the selected quite
                    important tasks like cash transferring, to make bill payments, hotel reservations, and even to pay
                    insurance premium which can be done from anywhere just by installing PAYmate in a Laptop, smartphone
                    or any kind of smart device. Anyone with a Visa Debit card is eligible to use it.can use it for any
                    purpose, personal or commercial.
                </p>
                <br />
            </div>
        </div>
    </div>
</section>
<!-- Contact Section -->
<section id="contact" class="content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Contact PAYmate Support</h2>
                <p>
                    coming soon...<i class="em em-laughing"></i>
                </p>
                @*<ul class="list-inline banner-social-buttons">
                        <li class="list-inline-item">
                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg">
                                <i class="fa fa-twitter fa-fw"></i>
                                <span class="network-name">Twitter</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://github.com/BlackrockDigital/startbootstrap" class="btn btn-default btn-lg">
                                <i class="fa fa-github fa-fw"></i>
                                <span class="network-name">Github</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg">
                                <i class="fa fa-google-plus fa-fw"></i>
                                <span class="network-name">Google+</span>
                            </a>
                        </li>
                    </ul>*@
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container text-center">
        <p>Copyright &copy; PAYmate @DateTime.Now.Year</p>
    </div>
</footer>

