@{
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header" style="font-weight:700;color:limegreen">Account Confirmation<a href="/Home/Index"><i class="fa fa-home fa-2x pull-right" aria-hidden="true"></i></a></div>
        <div class="card-body" style="text-align:center">
            Hello <b>@ViewBag.UserFullName</b>, please complete your registration by clicking on the link sent to your email.
            <br /><br />
            @Html.ActionLink("Back To Login Page", "Login", "Security")
        </div>
    </div>
</div>
