@{
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header" style="font-weight:700;color:limegreen">Password Updated</div>
        <div class="card-body" style="text-align:center">
            Your password has been updated successfuly
            <br /><br />
            @Html.ActionLink("Back To Login Page", "Login", "Security")
        </div>
    </div>
</div>

