@{
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header" style="font-weight:700;color:limegreen">Password Reset Confirmed</div>
        <div class="card-body" style="text-align:center">
            Hi, a reset password has been sent to <b>@ViewBag.EmailToReset</b>. Please check your email for further information.
            <br /><br />
            @Html.ActionLink("Back To Login Page", "Login", "Security")
        </div>
    </div>
</div>
